<!-- function header -->
<div
  class="
    elevation-1
    flex flex-row justify-stretch items-center
    bg-gradient-br-emphasized rounded">
    <!-- function caption -->
    <div class="font-main font-bold text-surface-0 p-1 flex-grow">{{descriptor.name}}</div>
    <!-- function actions -->
    <ng-content></ng-content>
</div>

  <!-- function description -->
<div
  *ngIf="detailed"
  class="
    px-2 py-1
    font-main font-light text-sm text-light-source-700">{{descriptor.description}}</div>
  <!-- function input slots -->
<ng-container *ngIf="!collapsed">
  <div
    *ngFor="let slot of descriptor.input; trackBy: slotTracker;"
    class="
      flex flex-col justify-start items-start
      relative py-1
      
      hover:bg-surface-1
      
      before:h-hair before:w-2
      before:shadow-inner
      before:absolute before:left-0 before:top-half">
      <!-- input slot caption -->
      <div
        class="
          px-4
          text-light-ambiance font-main text-base font-light">{{slot.name}}</div>
      <!-- input slot description -->
      <div
        *ngIf="detailed"
        class="
          px-4
          text-light-source-700 font-main text-sm font-light">{{slot.description}}</div>
  </div>
  <div
    class="
      flex flex-col justify-start items-start
      relative py-1
      hover:bg-surface-1
      after:h-hair
      after:w-2
      after:shadow-inner
      after:absolute
      after:right-0
      after:top-half">
      <!-- return slot description -->
      <div
        class="
          px-4
          text-light-ambiance font-main text-base font-light self-end">output</div>
      <div
        *ngIf="detailed"
        class="px-4 text-light-source-700 font-main text-sm font-light">{{descriptor.return.description}}</div>
  </div>
</ng-container>