<div class="w-full h-full text-center flex flex-col justify-stretch items-stretch">
  <div
    [var]="undefined"
    #active="var"
    class="glass-landed flex flex-col flex-grow
      my-0 ml-0 py-7 justify-center items-stretch max-w-sm w-half
      relative text-left z-default">
    <div
      brs-loader-infinite
      class="my-1">
      <div
        brs-project-create
        (click)="active.var = 'create'"
        [namespaces]="namespaces$ | async"
        [expanded]="active.var === 'create'"
        [ngClass]="{ 'bg-shadow': active.var === 'create' }"
        class="
          relative rounded py-1 z-default
          flex flex-col items-stretch
          hover:bg-shadow focus-within:bg-shadow"></div>
    </div>

    <div
      brs-loader-infinite
      class="my-1">
      <div
        brs-project-open
        (click)="active.var = 'open'"
        [expanded]="active.var === 'open'"
        [discovered]="projectsList$ | async"
        [ngClass]="{ 'bg-shadow': active.var === 'open' }"
        class="
          relative rounded py-1 z-default
          flex flex-col items-stretch
          hover:bg-shadow focus-within:bg-shadow"></div>
    </div>

    <!-- <div
      brs-button
      #button_open="brs-button"
      [selected]="active.var === 'open'"
      (click)="active.var = 'open'"
      class="
        relative rounded py-3 z-default
        flex flex-col items-stretch
        before:inset-0 before:absolute before:bg-shadow before:opacity-0 before:z-low"
      [ngClass]="{
        'cursor-pointer hover:before:opacity-40 active:before:opacity-100': !button_open.disabled,
        'opacity-20 cursor-default': button_open.disabled,
        'before:opacity-100 hover:before:opacity-100': button_open.selected,
        'opacity-60': active.var !== 'open' && active.var !== undefined
      }">
      <span class="
        text-surface-main text-3xl px-4 py-1 w-full overflow-hidden relative
        before:absolute before:inset-0 before:bg-primary before:z-low before:opacity-100" i18n>Open project</span>
      <div
        [@fadeInExpandOnEnter]
        [@fadeOutCollapseOnLeave]
        *ngIf="button_open.selected"
        class="flex flex-col items-stretch flex-grow">
        <ng-container *ngIf="!(validToken$ | async)">
          <div class="text-center text-base text-primary" i18n>I am unable to list projects for you. It seems that you are not connected to any provider... Consider pressing buttons below and will assist you in authorizartion process.</div>
        </ng-container>
      </div>
    </div> -->
    <!-- <div class="flex flex-row justify-center items-center mt-auto mb-2 mx-auto opacity-10">
      <svg class="w-5 h-5 fill-primary mr-2" brs-icon="entropy"></svg>
      <span class="text-primary text-2xl" i18n>Entropy Engine</span>
    </div> -->
  </div>
</div>