<ng-content></ng-content>
<div
  *ngIf="active"
  [@fadeInOnEnterAnimation]
  [@fadeOutOnLeaveAnimation]
  class="
    flex flex-row items-center justify-center absolute inset-0 z-higher
    before:bg-gradient-br-surface-higher-surface-lower before:absolute before:inset-0 before:opacity-70">
  <div class="w-3 h-3 mr-minus-3 relative rounded before:inset-1 before:bg-shadow before:rounded before:border-hair before:border-accent before:absolute animation-zoom-in"></div>
  <div class="w-3 h-3 relative rounded before:inset-1 before:bg-shadow before:rounded before:border-hair before:border-accent before:absolute animation-shift-inline-end"></div>
  <div class="w-3 h-3 relative rounded before:inset-1 before:bg-shadow before:rounded before:border-hair before:border-accent before:absolute animation-shift-inline-end"></div>
  <div class="w-3 h-3 relative rounded before:inset-1 before:bg-shadow before:rounded before:border-hair before:border-accent before:absolute animation-zoom-out"></div>
</div>
