<ng-container *ngIf="modals$ | async as modals">
  <!-- Responsive container -->
  <div
    [ngClass]="{
      'filter-dof-1': modals.length === 1,
      'filter-dof-2': modals.length === 2,
      'filter-dof-3': modals.length === 3,
      'filter-dof-4': modals.length === 4,
      'filter-dof-5': modals.length >= 5
    }"
    class="absolute inset-0">
    <canvas #bgcanvas class="absolute inset-0 opacity-20 z-low"></canvas>
    <router-outlet></router-outlet>
  </div>

  <!-- notifications layer start -->
  <div
    class="
      absolute right-0 bottom-0
      flex flex-col items-stretch
      mx-1 my-1
      max-w-md">
      <div
        [@fadeOutDownOnLeave]
        [@fadeInUpOnEnter]
        *ngFor="let not of notifications$ | portion | async; trackBy: notificationTracker">
        <ng-template [ngTemplateOutlet]="not"></ng-template>
      </div>
  </div>
  <!-- notifications layer end -->

  <!-- modals start -->
  <div
    [@fadeInOnEnter]
    [@fadeOutOnLeave]
    class="absolute inset-0 flex items-center content-center"
    *ngFor="let modal of modals; trackBy: templateTracker">
    <div class="absolute inset-0 bg-surface-main opacity-90"></div>
    <ng-template [ngTemplateOutlet]="modal[0]" [ngTemplateOutletContext]="modal[1] || {}"></ng-template>
  </div>
  <!-- modals end -->

</ng-container>

<!-- assistants start -->
<div
  [@fadeOutDownOnLeave]
  [@fadeInUpOnEnter]
  *ngFor="let assistant of assistants$ | async; trackBy: templateTracker"
  class="fixed before:bg-shadow inset-0">
  <ng-template [ngTemplateOutlet]="assistant"></ng-template>
</div>
<!-- assistants end -->

<integrate-application-updates brs></integrate-application-updates>
