<div
  class="transition-all"
  [ngClass]="{
    'contents': !(required$ | async),
    'filter-dof-3-desaturate opacity-0': required$ | async
  }">
  <ng-content></ng-content>
</div>
<button
  [@fadeInOnEnter]
  [@fadeOutOnLeave]
  (click)="connectToGitlab()"
  *ngIf="required$ | async"
  class="
    appearance-none outline-none focus:outline-none
    flex flex-row items-center justify-center w-full
    text-primary py-2 absolute inset-0 z-default
    after:bg-gradient-br-surface-higher-surface-lower after:absolute after:z-lower after:inset-0 after:opacity-0
    before:border-t-hair before:border-b-hair before:border-primary before:left-0 before:right-0 before:top-1 before:bottom-1 before:absolute
    hover:after:opacity-40 focus-within:after:opacity-40 focus-within:before:border-accent">
    <span class="text-primary text-lg" i18n>Connect to GitLab</span>
    <svg class="w-4 h-4 pl-1" brs-icon="gitlab"></svg>
</button>
