<span class="
  text-surface-main text-2xl px-4 py-1 my-1 w-full overflow-hidden relative z-default
  before:absolute before:inset-0 before:bg-primary before:z-low" i18n>Create project</span>
<div
  [@fadeInExpandOnEnter]
  [@fadeOutCollapseOnLeave]
  *ngIf="expanded"
  class="flex flex-col items-stretch flex-grow">
  <label
    class="
      flex flex-col items-stretch flex-grow text-primary py-2 my-1 relative z-default
      before:bg-shadow before:absolute before:z-lower before:inset-0 before:opacity-0
      after:border-t-hair after:border-b-hair after:border-primary after:left-0 after:right-0
      after:top-1 after:bottom-1 after:absolute after:z-low hover:before:opacity-100
      focus-within:before:opacity-100 focus-within:after:border-accent" for="project-name">
    <span class="text-xl px-4" i18n>Project name</span>
    <input
      [var]=""
      #pname="var"
      (input)="pname.var = $event.target.value"
      i18n-placeholder
      placeholder="lower case latin and numbers"
      maxlength="60"
      minlength="2"
      type=text
      id="project-name"
      class="block flex-grow bg-transparent outline-none text-primary text-base py-1 px-4" />
  </label>
  <div
    brs-provider-connection-required
    class="my-1">
    <button
      #create_action
      (click)="requested.emit(pname.var)"
      [attr.disabled]="pname.var ? null : true"
      [ngClass]="{
        'filter-desaturate opacity-50 pointer-events-none': !pname.var
      }"
      class="
        appearance-none p-2 text-primary focus:outline-none outline-none w-full
        flex flex-row items-center justify-center relative z-default flex-grow
        after:bg-gradient-br-surface-higher-surface-lower after:absolute after:z-lower after:inset-0 after:opacity-0
        before:border-t-hair before:border-b-hair before:border-primary before:left-0 before:right-0 before:top-1 before:bottom-1 before:absolute
        hover:after:opacity-40 focus:after:opacity-40 focus:before:border-accent">
      <svg class="w-4 h-4 pr-1" brs-icon="gitlab"></svg>
      <span class="text-lg" i18n>Sync on GitLab</span>
    </button>
  </div>
</div>