<ng-template notification #UpdateReady="notification">
  <div brs-notification (dismiss$)="complete(UpdateReady.template)">
    <ng-template caption i18n>Update is ready!</ng-template>
    <ng-template description i18n>In order for update to be applied, application must be restarted.</ng-template>
    <ng-template [action]="restart" i18n>Restart and Update</ng-template>
  </div>
</ng-template>
