<header class="
  text-surface-main text-2xl px-4 py-1 my-1 w-full overflow-hidden relative
  before:absolute before:inset-0 before:bg-primary before:z-low before:opacity-100" i18n>Open project</header>
<div
  [@fadeInExpandOnEnter]
  [@fadeOutCollapseOnLeave]
  brs-provider-connection-required
  *ngIf="expanded"
  class="flex flex-col items-stretch flex-grow">
  <section class="
    flex flex-col items-stretch flex-grow
    text-primary py-2 relative z-default
    after:bg-gradient-br-surface-higher-surface-lower after:absolute after:z-lower after:inset-0 after:opacity-0
    before:border-t-hair before:border-b-hair before:border-primary before:left-0 before:right-0 before:top-1 before:bottom-1 before:absolute
    hover:after:opacity-40 focus-within:after:opacity-40 focus-within:before:border-accent" for="project-name">
    <header class="text-xl px-4" i18n>Discovered projects</header>
    <ul
      *ngIf="discovered.length > 0"
      [@fadeInExpandOnEnter]
      [@fadeOutCollapseOnLeave]>
      <li *ngFor="let p of (discovered || [])">{{p.name}}</li>
    </ul>
  </section>
</div>