<ng-template [ngTemplateOutlet]="anchor.template"></ng-template>
<ng-template [active]="active">
  <div
    [ngStyle]="joint | place : eref | async"
    class="
      backdrop-dof-5-desaturate elevation-2 fixed rounded
      w-full max-h-screen overflow-y-auto overflow-x-hidden
      before:absolute before:inset-0 before:bg-surface-higher before:opacity-90 before:rounded">
    <ng-template [ngTemplateOutlet]="pennant.template"></ng-template>
  </div>
</ng-template>  