@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap&subset=cyrillic');

:root[theme='dark'],
:root:not([theme]) {
  --color-surface-main: #222222;
  --color-surface-lower: #161616;
  --color-surface-higher: #333333;
  --color-primary: #cccccc;
  --color-accent:  rgb(170, 170, 238);
  --color-accent-9: rgba(170, 170, 238, .9);
  --color-accent-8: rgba(170, 170, 238, .8);
  --color-accent-7: rgba(170, 170, 238, .7);
  --color-accent-6: rgba(170, 170, 238, .6);
  --color-accent-5: rgba(170, 170, 238, .5);
  --color-accent-4: rgba(170, 170, 238, .4);
  --color-accent-3: rgba(170, 170, 238, .3);
  --color-accent-2: rgba(170, 170, 238, .2);
  --color-accent-1: rgba(170, 170, 238, .1);
  --color-accent-05: rgba(170, 170, 238, .05);
  --color-info-error: #880000;
  --color-info-warn: #999900;
  --color-info-ok: #119911;
  --color-shadow-15: rgba(0, 0, 0, .15);
  --color-shadow-10: rgba(0, 0, 0, .10);
  --color-shadow-05: rgba(0, 0, 0, .05);
}

* {
  position: relative;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

[class*="before:"]:before,
[class*="after:"]:after {
  content: '';
}

@variants after, before {
  .justify-self-center {
    justify-self: center;
  }
  .justify-self-end {
    justify-self: end;
  }
  .justify-self-start {
    justify-self: start;
  }
}

.justify-stretch {
  justify-content: stretch;
}

:root, body {
  @apply fixed inset-0 p-0 m-0;
}

.contents {
  display: contents;
}

// .glass-raised {
//   @apply relative transition-all transition-fast after:absolute after:inset-0;
// }

.glass-raised {
  position: relative;
  transition: all .2s;
  z-index: 0;
  border-radius: 4px;
  transform: scale(1.01);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: -4px;
    bottom: -4px;
    left: 0;
    pointer-events: none;
    box-sizing: content-box;
    backdrop-filter: blur(5px);
    background:
      linear-gradient( 135deg, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .1) 100%),
      linear-gradient( 135deg, var(--color-accent-05) 0, var(--color-accent-05) 100%);
    box-shadow:
      inset 0 4px 0px 0px var(--color-shadow-10),
      inset 4px 0 0px 0px var(--color-shadow-05),
      16px 16px 8px 6px rgba(0, 0, 0, .08);
    border-width: 0 4px 4px 0;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: solid;
    border-image:
      radial-gradient( ellipse at 100% 100%, rgba(0, 0, 0, .08) 0, rgba(0, 0, 0, .08) 25%, var(--color-accent-2) 100%) 1;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    pointer-events: none;
    border-radius: 2px;
    background: radial-gradient( ellipse at 100% 100%, transparent 0, transparent 70%, rgba(255, 255, 255, .1) 100%);
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient( 135deg, var(--color-primary) 0, var(--color-accent-3) 20%, transparent 50%, transparent 100%) 1;
  }
}

.glass-landed {
  position: relative;
  transition: all .2s;
  z-index: 0;
  border-radius: 4px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: -4px;
    bottom: -4px;
    left: 0;
    pointer-events: none;
    box-sizing: content-box;
    backdrop-filter: blur(3px);
    background:
      linear-gradient( 135deg, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .2) 100%),
      linear-gradient( 135deg, var(--color-accent-05) 0, var(--color-accent-05) 100%);
    box-shadow:
      inset 0 4px 0px 0px var(--color-shadow-10),
      inset 4px 0 0px 0px var(--color-shadow-05),
      2px 2px 2px 2px var(--color-shadow-10);
    border-width: 0 4px 4px 0;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: solid;
    border-image:
      radial-gradient( ellipse at 100% 100%, rgba(0, 0, 0, .08) 0, rgba(0, 0, 0, .08) 25%, var(--color-accent-2) 100%) 1;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    pointer-events: none;
    border-radius: 2px;
    background: radial-gradient( ellipse at 100% 100%, transparent 0, transparent 70%, rgba(255, 255, 255, .1) 100%);
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient( 135deg, var(--color-primary) 0, var(--color-accent-3) 20%, transparent 50%, transparent 100%) 1;
  }
}

@tailwind utilities;
@tailwind base;
