<div
  *ngIf="state$ | async as state"
  class="
    flex flex-col h-full justify-center items-center max-w-xl mx-auto min relative elevation-4 text-left
    before:inset-0 before:absolute before:bg-gradient-br-surface-higher-surface-lower before:opacity-30
    after:inset-0 after:absolute after:border-l-hair after:border-r-hair after:border-surface-higher after:opacity-70 after:pointer-events-none">
  <div class="mb-auto mt-2 mx-auto opacity-80" i18n>Page will be closed in {{timeout$ | async}} seconds</div>
  <ng-container *ngIf="state.code === 0">
    <svg
      brs-icon="check"
      class="w-8 h-8 stroke-info-ok"></svg>
    <span class="text-2xl text-primary" i18n>Authorization successfull</span>
  </ng-container>
  <ng-container *ngIf="state.code === 1">
    <svg
      brs-icon="cross"
      class="w-8 h-8 stroke-info-error"></svg>
    <span class="text-2xl text-primary" i18n>Authorization failure</span>
  </ng-container>
  <div class="flex flex-row justify-center items-center mt-auto mb-2 mx-auto opacity-10">
    <svg class="w-5 h-5 fill-primary mr-2" brs-icon="entropy"></svg>
    <span class="text-primary text-2xl" i18n>Entropy Engine</span>
  </div>
</div>
