<!-- responsive container -->
<div class="absolute inset-0 flex flex-row justify-start items-stretch">
  <!-- navigation panel -->
  <div class="
    flex-grow-0 flex flex-col justify-center relative
    before:absolute before:inset-0 before:border-primary before:border-r-hair before:opacity-20">
    <div
      brs-button
      #button_account="brs-button"
      class="relative before:opacity-0 before:bg-accent before:absolute before:inset-0"
      [ngClass]="{ 'cursor-pointer hover:before:opacity-20': !button_account.disabled }"
      (click)="button_account.selected = !button_account.selected">
      <svg
        brs-icon="person"
        [ngClass]="{
          'stroke-surface-main bg-accent transition-none': button_account.selected,
          'stroke-primary transition-fast transition-all': !button_account.selected
        }"
        class="w-7 h-7 p-2"></svg>
    </div>
    <div
      brs-button
      #button_settings="brs-button"
      class="relative before:opacity-0 before:bg-accent before:absolute before:inset-0"
      [ngClass]="{ 'cursor-pointer hover:before:opacity-20': !button_settings.disabled }"
      (click)="button_settings.selected = !button_settings.selected">
      <svg
        brs-icon="cog"
        [ngClass]="{
          'stroke-surface-main bg-accent transition-none': button_settings.selected,
          'stroke-primary transition-fast transition-all': !button_settings.selected
        }"
        class="w-7 h-7 p-2"></svg>
    </div>
  </div>
  <!-- work area -->
  <div class="flex-grow flex">
    <!-- when there is no project active -->
  </div>
  <!-- assets navigator -->
  <div class="flex-grow-0 flex flex-col justify-start elevation-4 bg-surface-main"></div>
</div>

<!-- <div
  class="
    w-full
    h-full
    items-center
    content-center
    justify-center
    grid
    grid-columns-2
    grid-gap-2">
    <ng-container *ngFor="let func of assets$ | async;">
      <brs-node-function
        [descriptor]="func.contents"
        #ref="brs-node-function"
        class="elevation-2">
        <div
          brs-icon="move"
          class="
            cursor-grab
            stroke-surface-1
            hover:bg-surface-0-100
            active:bg-surface-0-500
            active:stroke-light-source
            p-1 w-5 h-5"></div>
        <div
          brs-icon="info"
          (click)="ref.detailed = !ref.detailed"
          [ngClass]="{
            'bg-surface-0-500 stroke-light-source hover:bg-surface-0-500': ref.detailed}"
          class="
            cursor-pointer
            stroke-surface-1
            hover:bg-surface-0-100
            active:bg-surface-0-500
            active:stroke-light-source
            p-1 w-5 h-5"></div>
        <div
          brs-icon="arrow"
          (click)="ref.collapsed = !ref.collapsed"
          [ngClass]="{
            'bg-surface-0-500 stroke-light-source hover:bg-surface-0-500 rotate-0': ref.collapsed}"
          class="
            cursor-pointer
            stroke-surface-1
            hover:bg-surface-0-100
            active:bg-surface-0-500
            active:stroke-light-source
            rotate-180
            p-1 w-5 h-5"></div>
      </brs-node-function>
    </ng-container>
</div> -->
