<div
  class="
    flex-col
    items-start
    bg-surface-2
    elevation-2
    rounded
    flex
    relative
    z-10
    
    before:border-light-ambiance
    before:border-solid
    before:border-l-hair
    before:absolute
    before:inset-y-0
    before:left-0
    before:filter-light-emission">
  <div class="text-light-ambiance text-lg mt-3 mx-3"><ng-template [ngTemplateOutlet]="caption.template"></ng-template></div>
  <div class="text-light-source-300 text-sm mb-3 mt-2 mx-3"><ng-template [ngTemplateOutlet]="description.template"></ng-template></div>
</div>
<div
  *ngIf="actions.length > 0"
  class="
    flex-row
    justify-stretch
    items-center
    flex
    bg-surface-1
    rounded
    mx-2
    relative
    z-0
    p-1
    elevation-1">
  <div
    *ngFor="let action of actions"
    (click)="action.action"
    class="
      text-center
      text-base
      flex-grow
      rounded
      bg-surface-2
      texture
      elevation-1
      text-light-ambiance
      px-2
      py-1
      m-1"><ng-template [ngTemplateOutlet]="action.template"></ng-template>
  </div>
</div>